<div class="main aboutus">
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="main-header text-center">
            <h3>About Us</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="about-title text-center">Trained, Hardworking Professionals</h3>

          <ul class="list-unstyled">
            <li class="media">
              <img
                class="align-self-start mr-3 img-about"
                src="./assets/img/aboutus-re01-minor.png"
              />
              <div class="media-body">
                <strong>Cliffe Cleaning</strong> began from the owner,
                <strong>Renata</strong> working as an independent cleaner, but as customers grew to
                know and love her style of cleaning, so did the high demand for her services.
                <br />
                Due to this, Renata used her unique cleaning techniques to personally hire and
                trainee employees to uphold the high standards she had created.
                <br />
              </div>
            </li>
            <li class="media">
              <div class="media-body">
                At <strong>Cliffe Cleaning</strong>, we promote a positive and hardworking
                culture where professional cleaners are valued, and a strong sense of mutual respect
                is promoted within all areas that we service.  <br />
              </div>
              <img
                class="align-self-center ml-3 img-about"
                src="./assets/img/aboutus-re02-minor.png"
              />
            </li>
          </ul>
          <h4>About the employees:</h4>
          <ul>
            <li>Employees that have undergone police checks</li>
            <li>Insured </li>
            <li>Thoroughly trained.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
