<div class="main contact">
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="main-header text-center">
            <h3>Services</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <h3>What we do</h3>

              <p>
                Your cleaner will let you know if you have requested inclusions that will take
                longer than your usual service (such as the oven, windows and fridge), so you can
                work out your priorities for each clean
              </p>
              <p>
                All cleaning products are supplied, but please do leave out your own a vacuum and
                mop for hygiene reasons.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="card-deck">
            <div class="card">
              <img src="../../../assets/img/svc_housekeeping2.png" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-center">Regular & House Keeping</h5>
                <p class="card-text text-justify">
                  Let us do the cleaning to leave you with a stress-free environment, allowing you
                  to spend quality time with your loved ones and that free time you deserve!
                  <br />
                  Save money and space on cleaning products as we provide all the necessary
                  equipment and products.
                </p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/img/svc_commercial.png" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-center">Commercial Cleaning</h5>
                <p class="card-text text-justify">
                  Shine the spotlight on your business with expert cleaning for businesses and
                  education facilities! Nothing proves you mean business like a pristinely clean
                  environment.
                  <br />
                  At Cliffe cleaning, all employees are qualified and trained to go above and beyond
                  the standards and regulations that are needed, making us stand out from regular
                  cleaners.
                </p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/img/svc_airbnb2.png" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-center">AirBnb Cleaning</h5>
                <p class="card-text text-justify">
                  Short-term rental guests expect a sparkling clean property when they book on
                  Airbnb. However, the frequent turnover of guests is a challenge with a short
                  turnaround time for housekeeping.
                  <br />
                  As part of our professional Cleaning Services, we offer hotel-level housekeeping
                  and cleaning, to ensure every guest has a comfortable stay. This extra level of
                  service will help you earn more 5-star reviews for your property that result in
                  higher future bookings.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="d-flex justify-content-center">
            <a [routerLink]="['/contact']" class="btn btn-gold btn-lg text-center">get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
