<!-- <div class="page-header">  -->
<div class="main home">
  <div class="page-carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="./assets/img/home-cleaning002.jpg" alt="Random first slide" />
        <div class="carousel-caption text-center">
          <p>Leaving your space spotless</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/img/home-cleaning001.jpg" alt="Random second slide" />
        <div class="carousel-caption text-center">
          <p>Leaving your space spotless</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="./assets/img/home-cleaning003.jpg" alt="Random third slide" />
        <div class="carousel-caption text-center">
          <p>Leaving your space spotless</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<div class="main home">
  <div class="section section-gray text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">A little bit about us</h2>
          <h5 class="description">
            Our mission as a company is to provide to our customers a fastidiously cleaning service
            whilst simultaneously freeing up personal time for our clients.
            <br />
            We match the housekeeper professional with a regular and trustable work for our clients.
            <br />
            We promote a positive and hard work culture where housekeeper professionals are valued,
            and also, a strong sense of mutual respect within all homes we provide our services.
          </h5>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-gold">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Gallery</h4>
              <p class="description">
                Spend your time generating new ideas. You don't have to think of implementing.
              </p>
              <a href="#" class="btn btn-link btn-gold">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-gold">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">New Ideas</h4>
              <p>
                Larger, yet dramatically thinner. More powerful, but remarkably power efficient.
              </p>
              <a href="#" class="btn btn-link btn-gold">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-gold">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Statistics</h4>
              <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
              <a href="#" class="btn btn-link btn-gold">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-gold">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Delightful design</h4>
              <p>
                Find unique and handmade delightful designs related items directly from our sellers.
              </p>
              <a href="#" class="btn btn-link btn-gold">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Let's talk about us</h2>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="card card-plain">
            <div class="avatar">
              <img
                src="./assets/img/RE02.jpg"
                class="img-thumbnail img-no-padding img-responsive"
                alt="Renata, owner of the company"
              />
            </div>
            <div class="card-block">
              <div class="author">
                <h4 class="card-title">Renata Oliveira</h4>
                <h6 class="card-category">Owner, trainer and Service Manager</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-justify white-color">
            <strong>Cliffe Cleaning</strong> began from the owner, <strong>Renata</strong> working
            as an independent cleaner, but as customers grew to know and love her style of cleaning,
            so did the high demand for her services. Due to this, Renata used her unique cleaning
            techniques to personally hire and trainee employees to uphold the high standards she had
            created.
            <br />
            At <strong>Cliffe Cleaning</strong>, we promote a positive and hardworking culture where
            professional cleaners are valued, and a strong sense of mutual respect is promoted
            within all areas that we service.  <br />
            Also, about our employees: they will always have undergone police checks, insurance and
            thoroughly trained.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h2 class="text-center">Check our work</h2>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="card-deck">
            <div class="card">
              <img src="./assets/img/svc_housekeeping2.png" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-center">Regular & House Keeping</h5>
                <p class="card-text text-justify">
                  Let us do the cleaning to leave you with a stress-free environment, allowing you
                  to spend quality time with your loved ones and that free time you deserve!
                  <br />
                  Save money and space on cleaning products as we provide all the necessary
                  equipment and products.
                </p>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/svc_commercial.png" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-center">Commercial Cleaning</h5>
                <p class="card-text text-justify">
                  Shine the spotlight on your business with expert cleaning for businesses and
                  education facilities! Nothing proves you mean business like a pristinely clean
                  environment.
                  <br />
                  At Cliffe cleaning, all employees are qualified and trained to go above and beyond
                  the standards and regulations that are needed, making us stand out from regular
                  cleaners.
                </p>
              </div>
            </div>
            <div class="card">
              <img src="./assets/img/svc_airbnb2.png" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title text-center">AirBnb Cleaning</h5>
                <p class="card-text text-justify">
                  Short-term rental guests expect a sparkling clean property when they book on
                  Airbnb. However, the frequent turnover of guests is a challenge with a short
                  turnaround time for housekeeping.
                  <br />
                  As part of our professional Cleaning Services, we offer hotel-level housekeeping
                  and cleaning, to ensure every guest has a comfortable stay. This extra level of
                  service will help you earn more 5-star reviews for your property that result in
                  higher future bookings.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="spacing"></div>
          <div class="spacing"></div>
          <h4 class="text-center">and contact us <strong>here!</strong></h4>
          <div class="spacing"></div>
          <div class="spacing"></div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="contact">
              <form class="form-contact">
                <label>Name</label>
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>
                <label>Email</label>
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
                <label>Phone Number</label>
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-mobile"></i></span>
                  </div>
                  <input
                    type="tel"
                    class="form-control"
                    placeholder="Phone number"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
                <label>Message</label>
                <textarea
                  class="form-control"
                  rows="4"
                  placeholder="Tell us your thoughts and feelings..."
                ></textarea>
                <button class="btn btn-gold btn-lg btn-fill float-lg-right">Send Message</button>
              </form>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <h4><strong>Cliffe Cleaning</strong></h4>
            <br />
            <address>
              <ul class="list-unstyled">
                <li><strong>ABN: 583 030 592 04</strong></li>
                <li>5 Koopa Street - Clontarf, QLD 4019</li>
                <li>Phone: <a href="tel:+61415602272">0415 602 272</a></li>
              </ul>
            </address>
            <p>
              <strong>GET A FREE QUOTE:</strong>
              <br />
              Let us know what cleaning you require and we will tailor a package to your needs. E.G.
              3 Bed, 2 Bath, 1 kitchen, 1 living room.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
