<div id="aboutus" class="section section-dark text-center">
  <div class="container">
    <h2 class="title">Let's talk about us</h2>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card card-plain">
          <div class="avatar">
            <img
              src="./assets/img/renata-perfil.jpg"
              class="img-thumbnail img-no-padding img-responsive"
              alt="Renata, owner of the company"
            />
          </div>
          <div class="card-block">
            <div class="author">
              <h4 class="card-title">Renata Oliveira</h4>
              <h6 class="card-category">Owner, trainer and Service Manager</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-justify white-color">
          <strong>Cliffe Cleaning</strong> began from the owner, <strong>Renata</strong> working as
          an independent cleaner, but as customers grew to know and love her style of cleaning, so
          did the high demand for her services. Due to this, Renata used her unique cleaning
          techniques to personally hire and trainee employees to uphold the high standards she had
          created.
          <br />
          At <strong>Cliffe Cleaning</strong>, we promote a positive and hardworking culture where
          professional cleaners are valued, and a strong sense of mutual respect is promoted within
          all areas that we service.  <br />
          Also, about our employees: they will always have undergone police checks, insurance and
          thoroughly trained.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
