$gold: #FFD700;
$gold-main: #DAA520;
$gold-yellow: #FFDF00;
$gold-metallic: #D4AF37;

$black-main: #000;
$black-light: #282828; 
$black-med: #222; 
$black-common: #212529;

html{
    scroll-behavior: smooth;
    font-family: 'Lato',Arial,sans-serif;
}
body{
    font-family: 'Lato', Arial,sans-serif;
    background: $black-main;
    font-weight: 400;
    a{
        font-weight: 700;
        color: $gold-main;
        
        &:hover, &:focus, &.active{
            color: $gold-main;
            cursor:pointer;
        }
    }
}
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover, 
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:focus,
.dropdown-primary .dropdown-menu{
    background-color: $gold-main;
    color: $black-main;
    font-weight: 400;
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown .dropdown-menu .dropdown-item {
    margin-top: 1px;
}

.navbar .navbar-nav .dropdown-menu{
    border-radius: 0;
}

//big fixes of the template
button{
    &:focus{
        outline: none;
        outline: none;
    }
}
textarea{
    resize: none;
}

.main-header{
    margin-bottom: 30px;
    padding: 25px 0;
    
    h3{
        letter-spacing: +2px;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 600px) {
    .main-header{
        padding: 10px 0;
        h3{
            font-size: 28px;
        }
    }
    .navbar{
        .navbar-logo{
            margin-left: 25%;
        }
    }
}